[submodule "Courses/AlchemyUniversity/Learn_Ethereum_Development/Week_1_Project-ECDSA_Node"]
	path = Courses/AlchemyUniversity/Learn_Ethereum_Development/Week_1_Project-ECDSA_Node
	url = https://github.com/daviddwlee84/ECDSA-Node.git
[submodule "Courses/AlchemyUniversity/Learn_Ethereum_Development/Week_2_Project-Merkle_Tree_Gift_List"]
	path = Courses/AlchemyUniversity/Learn_Ethereum_Development/Week_2_Project-Merkle_Tree_Gift_List
	url = https://github.com/daviddwlee84/GiftList.git
[submodule "Courses/AlchemyUniversity/Learn_Solidity_Syntax/presentations"]
	path = Courses/AlchemyUniversity/Learn_Solidity_Syntax/presentations
	url = https://github.com/alchemyplatform/learn-solidity-presentations.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
